USE [master]
GO
/****** Object:  Database [EdwardEcomerce]    Script Date: 11/17/2022 5:22:05 PM ******/
CREATE DATABASE [EdwardEcomerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EdwardEcomerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EdwardEcomerce]
GO
/****** Object:  Schema [Edward]    Script Date: 11/17/2022 5:22:05 PM ******/
CREATE SCHEMA [Edward]
GO
/****** Object:  Schema [kynalabc]    Script Date: 11/17/2022 5:22:05 PM ******/
CREATE SCHEMA [kynalabc]
GO
/****** Object:  Table [Edward].[Bill]    Script Date: 11/17/2022 5:22:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Edward].[Bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NULL,
	[IDvoucher] [int] NULL,
	[DateCreate] [date] NULL,
	[DateReceived] [date] NULL,
	[Status] [nvarchar](256) NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Edward].[BillDetail]    Script Date: 11/17/2022 5:22:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Edward].[BillDetail](
	[IDBill] [int] NOT NULL,
	[IDClothes] [int] NOT NULL,
	[Quantity] [int] NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_BillDetail] PRIMARY KEY CLUSTERED 
(
	[IDBill] ASC,
	[IDClothes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Edward].[Category]    Script Date: 11/17/2022 5:22:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Edward].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Edward].[Clothes]    Script Date: 11/17/2022 5:22:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Edward].[Clothes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IDseller] [int] NULL,
	[idCategory] [int] NULL,
	[des] [nvarchar](256) NULL,
 CONSTRAINT [PK_Clothes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Edward].[Clothes_Properties]    Script Date: 11/17/2022 5:22:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Edward].[Clothes_Properties](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDClothes] [int] NULL,
	[size] [nvarchar](50) NULL,
	[Quantily] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Edward].[Favorites]    Script Date: 11/17/2022 5:22:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Edward].[Favorites](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDClothes] [int] NULL,
	[IDUser] [int] NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Edward].[ImgUrls]    Script Date: 11/17/2022 5:22:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Edward].[ImgUrls](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDClothes] [int] NULL,
	[ImgUrl] [nvarchar](256) NULL,
 CONSTRAINT [PK_ImgUrls] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Edward].[People]    Script Date: 11/17/2022 5:22:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Edward].[People](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Mail] [nvarchar](50) NULL,
	[Psw] [nvarchar](256) NULL,
	[PhoneNum] [nvarchar](50) NULL,
	[Role] [int] NULL,
	[ImgUrl] [nvarchar](256) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Edward].[Voucher]    Script Date: 11/17/2022 5:22:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Edward].[Voucher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSeller] [int] NULL,
	[ratio] [int] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Edward].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_People] FOREIGN KEY([IDUser])
REFERENCES [Edward].[People] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [Edward].[Bill] CHECK CONSTRAINT [FK_Bill_People]
GO
ALTER TABLE [Edward].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Voucher] FOREIGN KEY([IDvoucher])
REFERENCES [Edward].[Voucher] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [Edward].[Bill] CHECK CONSTRAINT [FK_Bill_Voucher]
GO
ALTER TABLE [Edward].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Bill] FOREIGN KEY([IDBill])
REFERENCES [Edward].[Bill] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [Edward].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Bill]
GO
ALTER TABLE [Edward].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Clothes_Properties] FOREIGN KEY([IDClothes])
REFERENCES [Edward].[Clothes_Properties] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [Edward].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Clothes_Properties]
GO
ALTER TABLE [Edward].[Clothes]  WITH CHECK ADD  CONSTRAINT [FK_Clothes_Category] FOREIGN KEY([idCategory])
REFERENCES [Edward].[Category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [Edward].[Clothes] CHECK CONSTRAINT [FK_Clothes_Category]
GO
ALTER TABLE [Edward].[Clothes]  WITH CHECK ADD  CONSTRAINT [FK_Clothes_People] FOREIGN KEY([IDseller])
REFERENCES [Edward].[People] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [Edward].[Clothes] CHECK CONSTRAINT [FK_Clothes_People]
GO
ALTER TABLE [Edward].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Clothes] FOREIGN KEY([IDClothes])
REFERENCES [Edward].[Clothes] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [Edward].[Favorites] CHECK CONSTRAINT [FK_Favorites_Clothes]
GO
ALTER TABLE [Edward].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_People] FOREIGN KEY([IDUser])
REFERENCES [Edward].[People] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [Edward].[Favorites] CHECK CONSTRAINT [FK_Favorites_People]
GO
ALTER TABLE [Edward].[ImgUrls]  WITH CHECK ADD  CONSTRAINT [FK_ImgUrls_Clothes] FOREIGN KEY([IDClothes])
REFERENCES [Edward].[Clothes] ([id]) 
ON DELETE CASCADE
GO
ALTER TABLE [Edward].[ImgUrls] CHECK CONSTRAINT [FK_ImgUrls_Clothes]
GO
USE [master]
GO
