<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edward.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_render"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AppCustomer.views.BillsManagementCustomerActivity"
            android:exported="false" />

        <activity
            android:name=".AppCustomer.views.CustomerBillDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".AppSeller.views.StatisticActivity"
            android:exported="false" />
        <activity
            android:name=".AppSeller.views.SellerBillDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AppCustomer.fragments.PrivacyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AppCustomer.fragments.FAQctivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AppCustomer.fragments.EmailSupportActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AppCustomer.views.MainMycart"
            android:exported="true" />
        <activity
            android:name=".AppCustomer.views.ProductsDetailActivity"
            android:exported="true" />
        <activity
            android:name=".AppCustomer.views.CustomerAllClothesActivity"
            android:exported="true" />
        <activity
            android:name=".AppCustomer.views.MainActivity"
            android:exported="true" />
        <activity
            android:name=".AppSeller.views.BillsManagementActivity"
            android:exported="true" />
        <activity
            android:name=".AppSeller.views.UpdateClothesActivity"
            android:exported="false" />
        <activity
            android:name=".AppSeller.views.AddClothesActivity"
            android:exported="false" />
        <activity
            android:name=".AppCustomer.views.MainProductdetalls"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AppSeller.views.SellerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".AppSeller.views.ClothesManagementActivity"
            android:exported="true" />
        <activity
            android:name=".AppCustomer.fragments.MainPayment"
            android:exported="false" />
        <activity
            android:name=".AppCustomer.views.MainCheckout"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AppSeller.views.ClothesListOfCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AppSeller.views.VouchersManagementActivity"
            android:exported="false" />
        <activity
            android:name=".AppSeller.views.SellerClothesInformationActivity"
            android:exported="false" />
        <activity
            android:name=".AppSeller.views.SellerClothesInformationActivity_1"
            android:exported="false" />
    </application>

</manifest>